@font-face {
  font-family: "helvetica-thin";
  src: url("../fonts/PragmaticaExtraLight-Reg.woff2") format("woff2"), url("../fonts/PragmaticaExtraLight-Reg.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "helvetica-regular";
  src: url("../fonts/FreeSans.woff2") format("woff2"), url("../fonts/FreeSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "helvetica-bold";
  src: url("../fonts/FreeSansBold.woff2") format("woff2"), url("../fonts/FreeSansBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* placeholder */
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 9px;
  }
}
@media only screen and (max-width: 700px) {
  html {
    font-size: 0.5rem;
  }
}

body {
  font-family: "helvetica-regular";
  font-size: 1.4rem;
  font-weight: 300;
}

* {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-feature-settings: "lnum";
  box-sizing: border-box;
}

p {
  margin: 0;
}

*,
*:focus,
*:hover {
  outline: none;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main_wrapper {
  padding: 4.5rem 4rem;
}
@media (max-width: 767px) {
  .main_wrapper {
    padding: 4.5rem 2rem;
  }
}

.gradient {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: linear-gradient(90deg, #573FEA 0%, #A191FF 100%);
}

.btn {
  background-image: linear-gradient(to right, #573FEA, #A191FF);
  color: white;
  font-size: 1.6rem;
  padding: 1.6rem 3.5rem;
  border-radius: 30px;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
  font-family: "helvetica-regular";
}
.btn:hover {
  background-color: transparent;
  background-image: none;
  color: #573FEA;
  border: 0.1rem solid #573FEA;
}

.btn-arrow {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.sub_heading {
  color: #D9D9D9;
  font-family: "helvetica-regular";
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.main_heading {
  font-size: 4.6rem;
  font-family: "helvetica-bold";
  line-height: 5.5rem;
  color: #060606;
  margin: 0;
  padding-top: 2rem;
}
@media (max-width: 767px) {
  .main_heading {
    font-size: 3.6rem;
    line-height: 5rem;
  }
}

.card_logo_wrapper {
  height: 8.4rem;
  width: 8.4rem;
  background-color: #DDD4FF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_logo_item2 {
  background-color: #FFD3BF;
}

.card_logo_item3 {
  background-color: #c7e5f8;
}

.card_info h5 {
  font-size: 2.4rem;
  color: #1F2022;
  font-family: "helvetica-regular";
  font-weight: 400;
}
.card_info p {
  font-size: 1.8rem;
  width: 21.9rem;
  font-family: "helvetica-thin";
}

header {
  background-color: #0E0A24;
  border-top-left-radius: 3.5rem;
  border-top-right-radius: 3.5rem;
  font-family: "helvetica-regular";
  font-weight: 500;
}
header .header_wrapper {
  padding: 1.8rem 4.3rem;
}
@media (max-width: 1023px) {
  header .header_wrapper .navbar-collapse {
    margin-top: 3rem;
  }
}
header .header_wrapper .navbar-nav {
  width: 100%;
  gap: 3rem;
  justify-content: center;
  display: flex;
}
header .header_wrapper .navbar-nav .nav-link {
  padding: 0;
}
header .header_wrapper .navbar-nav .nav-item {
  font-size: 1.5rem;
}
header .header_wrapper .navbar-nav .nav-item a {
  color: white;
  text-transform: uppercase;
}
header .header_wrapper .navbar-nav .nav-item .dropdown-item {
  color: #0E0A24;
}
header .header_wrapper .navbar-nav .nav-item.dropdown .nav-link {
  display: flex;
  align-items: center;
}
header .header_wrapper .navbar-nav .nav-item.dropdown .nav-link::after {
  content: "";
  border: 0;
  background: url(../images/down-arrow.svg);
  background-repeat: no-repeat;
  height: 1rem;
  margin-left: 0.9rem;
  width: 1.2rem;
}
header .header_wrapper .side_img_wrapper {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  color: white;
  border-radius: 4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 3rem;
}
@media (max-width: 1023px) {
  header .header_wrapper .side_img_wrapper {
    width: 100px;
    margin-top: 2rem;
  }
}

.footer {
  margin-top: 11rem;
  color: #515254;
}
.footer__top {
  margin-bottom: 7.5rem;
}
.footer__bottom {
  padding: 3rem 0 0 0;
}
.footer h6 {
  color: #060606;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: bold;
  margin-bottom: 3rem;
}
.footer p,
.footer a,
.footer input {
  color: #515254;
  font-size: 1.6rem;
  line-height: 3.04rem;
}
.footer .brand_info .info {
  font-size: 2rem;
  line-height: 3.2rem;
  margin: 3rem 0;
}
.footer .contact_us span {
  height: 4rem;
  width: 4rem;
  margin-right: 0.5rem;
}
.footer .newsletter form {
  margin: 3.5rem 0 3rem 0;
}
.footer .newsletter form .email_input {
  background-color: rgba(14, 10, 36, 0.07);
  border-radius: 11.5rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem 0.5rem 2.5rem;
}
.footer .newsletter form .email_input input {
  border: 0 none;
  width: calc(100% - 5.7rem);
  background: transparent;
}
.footer .newsletter form .email_input a.gradient {
  cursor: pointer;
  height: 5.7rem;
  width: 5.7rem;
  border-radius: 2.5rem;
}
.footer .newsletter form .email_input a.gradient img {
  transform: rotate(90deg);
}
.footer .newsletter .social_links li {
  margin-right: 1.3rem;
}
.footer .external_links_wrap li:last-child {
  margin-left: 3rem;
}
.footer .external_links_wrap li a {
  font-size: 1.3rem;
  line-height: 2rem;
}

.banner_slider {
  width: 100%;
}
.banner_slider .banner-items .slick-list.draggable {
  border-bottom-left-radius: 3.5rem;
  border-bottom-right-radius: 3.5rem;
}
.banner_slider .banner-items .banner-item {
  height: 72.5rem;
  width: 100%;
  overflow: hidden;
}
.banner_slider .banner-items .banner-item .item1 {
  background: url(../images/slide-item1.jpg);
  background-size: cover;
  height: 100%;
}
.banner_slider .banner-items .banner-item .item2 {
  background: url(../images/slide-item1.jpg);
  background-size: cover;
  height: 100%;
}
.banner_slider .banner-items .banner-item .item3 {
  background: url(../images/slide-item1.jpg);
  background-size: cover;
  height: 100%;
}
.banner_slider .banner-items .banner-item .item_wrapper {
  background-image: linear-gradient(rgba(14, 10, 36, 0.7), rgb(14, 10, 36));
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.banner_slider .banner-items .banner-item .item_wrapper .content_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.banner_slider .banner-items .banner-item .item_wrapper .content_wrapper .side_heading {
  font-size: 1.6rem;
  font-family: "helvetica-thin";
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.banner_slider .banner-items .banner-item .item_wrapper .content_wrapper h1 {
  font-family: "helvetica-bold";
  font-size: 6.8rem;
  padding: 2.5rem 0;
  line-height: 8.1rem;
  width: 80%;
  text-align: center;
  margin: 0;
}
@media (max-width: 1023px) {
  .banner_slider .banner-items .banner-item .item_wrapper .content_wrapper h1 {
    font-size: 5rem;
    line-height: 5rem;
  }
}
@media (max-width: 767px) {
  .banner_slider .banner-items .banner-item .item_wrapper .content_wrapper h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}
@media (max-width: 580px) {
  .banner_slider .banner-items .banner-item .item_wrapper .content_wrapper h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
}
.banner_slider .banner-items .banner-item .item_wrapper .content_wrapper .banner_description {
  font-family: "helvetica-thin";
  font-weight: 400;
  font-size: 1.8rem;
  width: 51.6rem;
  width: 70%;
}
.banner_slider .banner-items .banner-item .item_wrapper .content_wrapper .banner_get_started {
  padding-top: 25px;
}
.banner_slider .banner-items .banner-item .item_wrapper .content_wrapper .banner_get_started button {
  padding: 1.7rem 3.5rem;
}
.banner_slider .banner-items .slick-prev,
.banner_slider .banner-items .slick-next {
  position: absolute;
  border: none;
  color: transparent;
  padding: 3rem;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner_slider .banner-items .slick-next {
  right: 3.8rem;
}
.banner_slider .banner-items .slick-next:before {
  background: url(../images/right-arrow.svg);
  background-repeat: no-repeat;
  font-family: "";
  background-color: transparent;
  color: transparent;
}
.banner_slider .banner-items .slick-prev {
  left: 3.8rem;
}
.banner_slider .banner-items .slick-prev:before {
  background: url(../images/left-arrow.svg);
  background-repeat: no-repeat;
  font-family: "";
  background-color: transparent;
  color: transparent;
}
.banner_slider .banner-items .slick-dots {
  bottom: 3.5rem;
}
.banner_slider .banner-items .slick-dots li button {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
}
.banner_slider .banner-items .slick-dots li button::before {
  content: "";
}
.banner_slider .banner-items .slick-dots .slick-active button {
  background-color: white;
  border-radius: 3rem;
  height: 2.2rem;
}

.about_us {
  margin: 4.7rem 0;
}
.about_us .about_us_wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
}
.about_us .about_us_wrapper .about_us_image_wrapper img {
  height: 100%;
  width: 100%;
}
.about_us .about_us_wrapper .about_us_info {
  display: flex;
  justify-content: end;
}
@media (max-width: 767px) {
  .about_us .about_us_wrapper .about_us_info {
    justify-content: center;
  }
}
.about_us .about_us_wrapper .about_us_info .about_us_info_wrap {
  width: 50rem;
}
@media (max-width: 767px) {
  .about_us .about_us_wrapper .about_us_info .about_us_info_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    padding: 0 3rem;
  }
}
.about_us .about_us_wrapper .about_us_info .about_us_info_wrap .about_us_desc {
  padding-top: 1rem;
  color: #515254;
  font-size: 1.6rem;
}
.about_us .about_us_wrapper .about_us_info .about_us_info_wrap .about_points_wrapper {
  padding: 1.7rem 0 2.5rem 0;
  font-family: "helvetica-regular";
  font-weight: 500;
}
.about_us .about_us_wrapper .about_us_info .about_us_info_wrap .about_points_wrapper .about_points {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  padding-top: 0.8rem;
}
@media (max-width: 767px) {
  .about_us .about_us_wrapper .about_us_info .about_us_info_wrap .about_points_wrapper .about_points {
    justify-content: center;
  }
}
.about_us .about_us_wrapper .about_us_info .about_us_info_wrap .about_points_wrapper .about_points::before {
  width: 1.3rem;
  height: 2rem;
  content: "";
  background: url(../images/right.svg);
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 1rem;
}

.services {
  background-color: rgb(14, 10, 36);
  color: white;
  padding: 7rem 7.8rem;
  border-radius: 3.5rem;
  margin: 7.7rem 0;
}
@media (max-width: 767px) {
  .services {
    padding: 6rem 4rem;
  }
}
.services .sub_heading,
.services .main_heading {
  color: white;
}
.services .services_wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
}
.services .services_wrapper .services_info .services_wrap {
  width: 45rem;
}
@media (max-width: 767px) {
  .services .services_wrapper .services_info .services_wrap {
    width: 100%;
  }
}
.services .services_wrapper .services_info .services_wrap .services_desc {
  padding-top: 1rem;
  padding-bottom: 4rem;
  color: white;
  font-size: 1.6rem;
}
.services .services_wrapper .services_info .services_wrap .about_points_wrapper {
  padding: 1.7rem 0 2.5rem 0;
}
.services .services_wrapper .services-items {
  height: 60.7rem;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .services .services_wrapper .services-items {
    margin-top: 5rem;
  }
}
.services .services_wrapper .services-items .insurence_card_wrapper {
  display: flex;
}
.services .services_wrapper .services-items .services-item {
  border-radius: 0.6rem;
  padding: 5rem 4.8rem;
  height: 187px;
  max-width: 56.7rem;
  margin-top: 3.1rem;
}
@media (max-width: 1023px) {
  .services .services_wrapper .services-items .services-item {
    max-width: 100%;
  }
}
.services .services_wrapper .services-items .services-item .insurence_card_wrapper {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.services .services_wrapper .services-items .services-item .insurence_card_wrapper .card_info h5 {
  color: white;
}
.services .services_wrapper .services-items .services-item.item1 {
  border: 0.3rem solid rgb(101, 73, 213);
  background-color: rgba(101, 73, 213, 0.15);
}
.services .services_wrapper .services-items .services-item.item2 {
  border: 0.3rem solid #FB5306;
  background-color: rgba(251, 83, 6, 0.05);
}
.services .services_wrapper .services-items .services-item.item3 {
  border: 0.3rem solid rgba(0, 6, 84, 0.6156862745);
  background-color: rgba(0, 6, 84, 0.05);
}
.services .services_wrapper .services-items .services-item.item4 {
  border: 0.3rem solid #059DFF;
  background-color: rgba(5, 157, 255, 0.05);
}

.loan_type {
  margin: 6.7rem 5.5rem 4.7rem 2rem;
}
.loan_type .loan_heading_wrapper {
  padding-bottom: 5rem;
}
.loan_type .loan_heading_wrapper .main_heading {
  width: 40%;
}
@media (max-width: 1023px) {
  .loan_type .loan_heading_wrapper .main_heading {
    width: 100%;
  }
}
.loan_type .loan-item .loan_card_wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
}
.loan_type .loan-item .loan_card_wrapper .card_info h5 {
  padding: 2rem 0;
}
.loan_type .loan-item .loan_card_wrapper .card_info p {
  width: 35rem;
}
.loan_type .slick-prev,
.loan_type .slick-next {
  position: absolute;
  border: none;
  color: transparent;
  padding: 3rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.08);
  display: flex !important;
  justify-content: center;
  align-items: center;
  top: -40%;
}
.loan_type .slick-next {
  right: 2%;
}
@media (max-width: 767px) {
  .loan_type .slick-next {
    display: none !important;
  }
}
.loan_type .slick-next:before {
  font-size: 2rem;
  background: url(../images/right-black-arrow.svg);
  background-repeat: no-repeat;
  font-family: "";
  background-color: transparent;
  color: transparent;
  background-position: right;
}
.loan_type .slick-prev {
  left: 87%;
}
@media (max-width: 1023px) {
  .loan_type .slick-prev {
    left: 80%;
  }
}
@media (max-width: 767px) {
  .loan_type .slick-prev {
    display: none !important;
  }
}
@media (max-width: 900px) {
  .loan_type .slick-prev {
    left: 80%;
  }
}
.loan_type .slick-prev:before {
  font-size: 2rem;
  background: url(../images/left-black-arrow.svg);
  background-repeat: no-repeat;
  font-family: "";
  background-color: transparent;
  color: transparent;
  background-position: left;
}
.loan_type .slick-dots {
  bottom: -5rem;
}
.loan_type .slick-dots li button {
  border: 1px solid #060606;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
}
.loan_type .slick-dots li button::before {
  content: "";
}
.loan_type .slick-dots .slick-active button {
  background-color: #060606;
}
.loan_type .loan-item.slick-slide.slick-current.slick-active + .loan-item.slick-slide.slick-active .loan_card_wrapper {
  background-color: rgba(6, 6, 6, 0.03);
  border-radius: 4rem;
}

.finance_calculator {
  background-color: #0E0A24;
  padding: 5rem 6rem 6rem 6rem;
  border-radius: 4rem;
  color: white;
  margin-top: 10.5rem;
}
@media (max-width: 767px) {
  .finance_calculator {
    padding: 5rem 4rem;
  }
}
.finance_calculator h4 {
  font-size: 3.2rem;
  font-family: "helvetica-regular";
  font-weight: 500;
  padding-bottom: 5rem;
}
.finance_calculator form {
  max-width: 48.2rem;
}
@media (max-width: 1280px) {
  .finance_calculator form {
    width: 100% !important;
    max-width: 100%;
  }
}
.finance_calculator form .form-label {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.finance_calculator form .form-item-wrapper {
  margin-bottom: 2.5rem;
}
.finance_calculator form .form-item-wrapper input.form-control {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.85);
  border-radius: 0.5rem;
  height: 5rem;
  font-size: 1.8rem;
  font-size: 1.8rem;
  color: white;
  padding: 0 2.1rem;
}
.finance_calculator form .form-item-wrapper input.form-control::-moz-placeholder {
  color: white;
}
.finance_calculator form .form-item-wrapper input.form-control::placeholder {
  color: white;
}
@media (max-width: 1280px) {
  .finance_calculator form .form-item-wrapper .select2-container {
    width: 100% !important;
  }
}
.finance_calculator form select {
  font-size: 1.8rem;
}
.finance_calculator form .range-slider .range-slider__range {
  width: 100%;
}
.finance_calculator form .select2-selection.select2-selection--single {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.85);
  border-radius: 0.5rem;
  height: 5rem;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  padding: 0 2.1rem;
}
.finance_calculator form .select2-selection.select2-selection--single .select2-selection__rendered {
  color: white;
}
.finance_calculator form .select2-selection.select2-selection--single .select2-selection__arrow {
  height: 100%;
  background: url(../images/up-arrow-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 2rem;
}
.finance_calculator form .select2-selection.select2-selection--single .select2-selection__arrow b {
  display: none;
}
.finance_calculator form .cart_wrapper {
  margin-top: 5rem;
  background-color: rgba(217, 217, 217, 0.15);
  border-radius: 0.6rem;
  padding: 2.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.finance_calculator form .cart_wrapper .cart_info_wrap .amount_topay {
  font-size: 1.6rem;
}
.finance_calculator form .cart_wrapper .cart_info_wrap .total_amount {
  padding-top: 1.5rem;
}
.finance_calculator form .cart_wrapper .cart_info_wrap .total_amount .amount {
  font-size: 3.2rem;
  font-family: "helvetica-regular";
  font-weight: 500;
  padding-right: 0.8rem;
}
.finance_calculator .graph_wrapper {
  display: flex;
  align-self: stretch;
}
.finance_calculator .graph_wrapper img {
  height: 100%;
  width: 100%;
}
@media (max-width: 1023px) {
  .finance_calculator .graph_wrapper img {
    margin-top: 3rem;
  }
}
.finance_calculator .graph_wrapper .graph_section {
  background-color: #EEF3F8;
  border-radius: 3rem;
  padding: 2.8rem 4.1rem;
  color: black;
}
.finance_calculator .graph_wrapper .graph_section .legend_wrapper .legend_label {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.finance_calculator .graph_wrapper .graph_section .legend_wrapper .legend_label span {
  height: 2rem;
  width: 2rem;
  border-radius: 2px;
  display: inline-block;
  background-color: #001F3F;
}
.finance_calculator .graph_wrapper .graph_section .legend_wrapper .legend_label p {
  font-size: 1.6rem;
  font-family: "helvetica-regular";
  font-weight: 400;
}
.finance_calculator .graph_wrapper .graph_section .legend_wrapper .legend_ammount {
  padding-top: 1rem;
  font-family: "helvetica-regular";
  font-weight: 400;
}
.finance_calculator .graph_wrapper .graph_section .legend_wrapper.legend1 .legend_ammount {
  font-size: 4.5rem;
  color: #121943;
}
.finance_calculator .graph_wrapper .graph_section .legend_wrapper.legend2 .legend_label span {
  background-image: linear-gradient(to bottom right, #FB5306, #C73E00);
}
.finance_calculator .graph_wrapper .graph_section .legend_wrapper.legend2 .legend_ammount {
  font-size: 3rem;
  color: #222222;
}
.finance_calculator .graph_wrapper .graph_section .legend_wrapper.legend3 .legend_label span {
  background-image: linear-gradient(to bottom right, #573FEA, #2F1AB0);
}
.finance_calculator .graph_wrapper .graph_section .legend_wrapper.legend3 .legend_ammount {
  font-size: 2.4rem;
  font-family: "helvetica-regular";
  font-weight: 400;
  color: #222222;
  padding-top: 1rem;
}
.finance_calculator .graph_wrapper .graph_section .legend_wrapper.legend4 .legend_label span {
  background-image: linear-gradient(to bottom right, #059DFF, #0079C7);
}
.finance_calculator .graph_wrapper .graph_section .legend_wrapper.legend4 .legend_ammount {
  font-size: 2.4rem;
  font-family: "helvetica-regular";
  font-weight: 400;
  color: #222222;
  padding-top: 1rem;
}

.working_steps {
  margin-top: 9.2rem;
}
.working_steps .heading_wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.working_steps .heading_wrapper .desc {
  max-width: 62.2rem;
  font-family: "helvetica-thin";
  font-size: 2rem;
  padding-top: 1rem;
}
.working_steps .steps_wrapper {
  background-color: #0E0A24;
  border-radius: 4rem;
  margin: 5rem 0;
  padding: 4.2rem 4rem;
}
.working_steps .steps_wrapper .steps_items {
  margin-top: 3rem;
  display: flex;
}
@media (max-width: 1023px) {
  .working_steps .steps_wrapper .steps_items {
    flex-direction: column;
    gap: 4rem;
  }
}
.working_steps .steps_wrapper .steps_items .step-item_wrapper {
  width: 33.3333333333%;
}
@media (max-width: 1023px) {
  .working_steps .steps_wrapper .steps_items .step-item_wrapper {
    width: 100%;
  }
}
.working_steps .steps_wrapper .steps_items .step-item {
  color: white;
}
.working_steps .steps_wrapper .steps_items .step-item .step_count {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.working_steps .steps_wrapper .steps_items .step-item .step_count .rounded-circle {
  display: inline-block;
  padding: 0.8rem 1rem;
  border: 0.4rem solid rgba(0, 0, 0, 0.44);
}
.working_steps .steps_wrapper .steps_items .step-item .step_count.item2 .rounded-circle {
  position: absolute;
  background-color: #FB5141;
  left: 43%;
}
@media (max-width: 1023px) {
  .working_steps .steps_wrapper .steps_items .step-item .step_count.item2 .rounded-circle {
    left: 47%;
  }
}
.working_steps .steps_wrapper .steps_items .step-item .step_count.item2::before {
  content: "";
  border-bottom: 0.1rem dotted #7C7E82;
  width: 100%;
}
.working_steps .steps_wrapper .steps_items .step-item .step_count.item1 {
  justify-content: flex-end;
}
.working_steps .steps_wrapper .steps_items .step-item .step_count.item1 .rounded-circle {
  position: absolute;
  background-color: #089EFF;
  left: 43%;
}
@media (max-width: 1023px) {
  .working_steps .steps_wrapper .steps_items .step-item .step_count.item1 .rounded-circle {
    left: 47%;
  }
}
.working_steps .steps_wrapper .steps_items .step-item .step_count.item1::before {
  content: "";
  border-bottom: 0.1rem dotted #7C7E82;
  width: 50%;
}
@media (max-width: 1023px) {
  .working_steps .steps_wrapper .steps_items .step-item .step_count.item1::before {
    width: 100%;
  }
}
.working_steps .steps_wrapper .steps_items .step-item .step_count.item3 .rounded-circle {
  position: absolute;
  background-color: #674AD9;
  left: 43%;
}
@media (max-width: 1023px) {
  .working_steps .steps_wrapper .steps_items .step-item .step_count.item3 .rounded-circle {
    left: 47%;
  }
}
.working_steps .steps_wrapper .steps_items .step-item .step_count.item3::before {
  content: "";
  border-bottom: 0.1rem dotted #7C7E82;
  width: 50%;
}
@media (max-width: 1023px) {
  .working_steps .steps_wrapper .steps_items .step-item .step_count.item3::before {
    width: 100%;
  }
}
.working_steps .steps_wrapper .steps_items .step-item .step_info_wrapper {
  margin-top: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.working_steps .steps_wrapper .steps_items .step-item .step_info_wrapper h5 {
  font-size: 2.4rem;
  font-family: "helvetica-regular";
  font-weight: 500;
}
.working_steps .steps_wrapper .steps_items .step-item .step_info_wrapper p {
  padding-top: 0.5rem;
  max-width: 33rem;
  color: #7C7E82;
  font-size: 1.6rem;
  font-family: "helvetica-regular";
}

.know_more.about_us .about_us_wrapper .about_us_info {
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .know_more.about_us .about_us_wrapper .about_us_info {
    order: 2;
  }
}
.know_more.about_us .about_us_wrapper .about_us_info .about_us_info_wrap {
  width: 90%;
}
.know_more.about_us .about_us_wrapper .btn_wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.faqs {
  margin: 10rem 0;
}
.faqs_accordion {
  margin-top: 5rem;
}
.faqs_accordion .accordion-item {
  border: 0;
}
.faqs_accordion .accordion-button {
  padding: 3.5rem;
  color: #6E7279;
  font-size: 2.4rem;
}
.faqs_accordion .accordion-button::after {
  width: 46px;
  height: 46px;
  border-radius: 100px;
  background-image: url(../images/down--black.svg);
  background-size: 18px 18px;
  background-position: center;
  border: 1px solid rgba(0, 0, 0, 0.0784313725);
}
.faqs_accordion .accordion-button:not(.collapsed) {
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  background-color: rgb(238, 238, 238);
  box-shadow: 0 0 0 transparent;
}
.faqs_accordion .accordion-button:not(.collapsed)::after {
  background-color: #0E0A24;
  background-image: url(../images/down--white.svg);
  transform: rotate(0deg);
}
.faqs_accordion .accordion-body {
  padding: 0;
  font-family: "helvetica-regular";
  font-weight: 400;
  color: #7C7E82;
  font-size: 2rem;
}
.faqs_accordion .accordion-collapse {
  padding: 0 10rem 3.5rem 3.5rem;
}
.faqs_accordion .accordion-collapse.show {
  background-color: rgb(238, 238, 238);
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}
.faqs_wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
}

.app_download {
  margin: 0 -4rem;
  padding: 0 6rem 0 6rem;
  position: relative;
  background-image: url(../images/app_download_bg.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}
@media (max-width: 1023px) {
  .app_download {
    padding: 6rem 2rem;
    background-size: 100% 100%;
    height: auto;
  }
}
.app_download .main_heading span {
  display: block;
}
.app_download .section_info {
  margin-top: 1rem;
}
.app_download .bg-img {
  width: 100%;
  position: absolute;
}
.app_download img {
  width: 100%;
  height: auto;
}
.app_download .content {
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1023px) {
  .app_download .content {
    margin-top: 7rem;
  }
}
@media (max-width: 767px) {
  .app_download .content {
    flex-direction: column;
  }
}
.app_download .content__left {
  padding: 0 6rem;
  width: 60%;
}
@media (max-width: 767px) {
  .app_download .content__left {
    width: 100%;
  }
}
.app_download .content__left .section_info {
  font-size: 2rem;
  line-height: 3.2rem;
}
.app_download .content__left .download_links {
  margin-top: 2rem;
}
.app_download .content__left .download_links a {
  margin-right: 2rem;
}
.app_download .content__right {
  width: 40%;
  overflow: auto;
}
@media (max-width: 767px) {
  .app_download .content__right {
    width: 100%;
    display: none;
  }
}

.eligibility {
  background-color: #0E0A24;
  border-radius: 4rem;
  margin-top: 10rem;
  padding: 10rem 9rem;
}
@media (max-width: 1023px) {
  .eligibility {
    padding: 6rem 4rem;
  }
}
.eligibility .sub_heading {
  color: rgba(255, 255, 255, 0.2);
}
.eligibility .info_img {
  width: 50%;
}
.eligibility .info_img img {
  border-radius: 2rem;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1023px) {
  .eligibility .info_img {
    margin-top: 5rem;
    width: 100%;
  }
}
.eligibility_info {
  margin-left: 7.7rem;
  width: 60%;
}
@media (max-width: 767px) {
  .eligibility_info {
    width: 100%;
    margin-left: 0;
    margin-bottom: 2rem;
  }
}
.eligibility_list {
  margin-top: 3rem;
}
.eligibility_list li {
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0 2.2rem;
}
.eligibility_list li:last-child {
  margin-bottom: 0;
}
.eligibility_list li img {
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 5.5rem;
}
.eligibility_list li h4 {
  font-size: 2rem;
  line-height: 3.2rem;
}
.eligibility_list li p {
  color: rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width: 768px) {
  .loan-item.slick-slide.slick-current.slick-active .loan_card_wrapper {
    background-color: rgba(6, 6, 6, 0.03);
    border-radius: 4rem;
  }
}/*# sourceMappingURL=style.css.map */