html {
    font-size: 10px;
    scroll-behavior: smooth;

    @media only screen and (max-width: 1200px) {
        font-size: 9px;
    }

    @media only screen and (max-width: 700px) {
        font-size: 0.5rem;
    }
}

body {
    font-family: $helvetica-regular;
    font-size: 1.4rem;
    font-weight: 300;
}

* {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
    box-sizing: border-box;
}

p {
    margin: 0;
}

*,
*:focus,
*:hover {
    outline: none;
}



a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main_wrapper {
    padding: 4.5rem 4rem;

    @include breakpoint('mobile'){
        padding: 4.5rem 2rem;
     }
}

.gradient {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: linear-gradient(90deg, #573FEA 0%, #A191FF 100%);
}