@font-face {
    font-family: 'helvetica-thin';
    src: url('../fonts/PragmaticaExtraLight-Reg.woff2') format('woff2'),
        url('../fonts/PragmaticaExtraLight-Reg.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'helvetica-regular';
    src: url('../fonts/FreeSans.woff2') format('woff2'),
        url('../fonts/FreeSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'helvetica-bold';
    src: url('../fonts/FreeSansBold.woff2') format('woff2'),
        url('../fonts/FreeSansBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



