$primary: #0E0A24;
$secondary: #e0c3a1;
$white:#ffff;
$light-gray:rgba(255, 255, 255, 0.2);
$black-shade:#060606;
$black-shade2:#1F2022;
$gray-shade:#D9D9D9;
$gray-shade1:#515254;
$grey-shade2:#6E7279;
// $light-gray2:#F9F9F9;
$light-blue:#6549D5;
$light-gray2:rgba(14, 10, 36, 1);
$light-blue:rgba(101, 73, 213, 1);
$light-blue2:#DDD4FF;
$shade-blue:rgba(101, 73, 213, 0.15);
$light-orange:rgba(251, 83, 6, 0.05);
$orange-shade:#FB5306;
$orange-shade1:#FFD3BF;
$light-purple:rgba(0, 6, 84, 0.05);
$purple-shade:#0006549D;
$light-green:rgba(5, 157, 255, 0.05);
$green-shade:#059DFF;
$green-shade1:#c7e5f8;
$gray-border:rgba(255, 255, 255, 0.08);
$slate-gray-border:rgba(0, 0, 0, 0.08);
$gray-border1:rgba(255, 255, 255, 0.85);
$black-shade3:rgba(217, 217, 217, 0.15);
$accordion-active: rgba(238, 238, 238, 1);
$gray-shade4:#7C7E82;
$orange:#FB5141;
$sky-blue:#089EFF;
$purple:#674AD9;
$border-black-shade:rgb(0 0 0 / 44%);
$light-gray3:#EEF3F8;
$dark-blue:#001F3F;
$dark-blue-text:#121943;
$black-text:#222222;
$card-bg:rgba(6, 6, 6, 0.03);

$helvetica-bold:  "helvetica-bold";
$helvetica-regular:  "helvetica-regular";
$helvetica-thin:  "helvetica-thin";


