.sub_heading{
    color: $gray-shade;
    font-family: $helvetica-regular;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-size: 1.4rem;
}
.main_heading{
    font-size: 4.6rem;
    font-family: $helvetica-bold;
    line-height: 5.5rem;
    color: $black-shade;
    margin: 0;
    padding-top: 2rem;
    @include breakpoint('mobile'){
        font-size: 3.6rem;
        line-height: 5rem;
      }
}
.card_logo_wrapper {
    height: 8.4rem;
    width: 8.4rem;
    background-color: $light-blue2;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        height: 4rem;
        width: 4rem;
    }
}
.card_logo_item2{
    background-color: $orange-shade1;
}
.card_logo_item3{
    background-color:  $green-shade1;
} 
.card_info {
    h5 {
        font-size: 2.4rem;
        color: $black-shade2;
        font-family: $helvetica-regular;
        font-weight: 400;
    }

    p {
        font-size: 1.8rem;
        width: 21.9rem;
        font-family: $helvetica-thin;
        
        @include breakpoint('mobile') {
         width: 100%;
        }
    }
}
.dropdown-item{
    font-size: 1.4rem;
}